<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="../static/js/index.js"></script>
    <title>Home</title>
  </head>
  <body>
    <div ng-controller="myController">
      <div class="container">
        <div class="row main">
          <div class="main-login main-center">
            <div class="text-center">
              <h2 id="welcomeText">Welcome <%= username %>!</h2>
              <%if (profile_picture) { %>
                <img class="my-2 img-fb" src="/static/uploads/<%= profile_picture %>" height="170px" width="170px"/><br>
              <% } else{ %>  
                <img class="my-2 img-fb" src="http://www.baldwincity.org/cms/images/placeholder-headshot-350.png" height="170px" width="170px"/><br>
              <% } %>
              <a id="logoutLink" href="/logout">Logout</a> | 
              <a id="editLink" href="/user">Edit User</a>
              <button id="ageButton" class="btn btn-primary btn-lg btn-block login-button" onclick="getAgeFact(<%= age %>)">Get New Age Fact!</button>
              <div class="alert alert-secondary fade show mx-2 mt-3 hide" id="numberMsg">
                <div id="number"></div>
              </div>
              <%if (msg) { %>
                <div class="alert alert-secondary alert-dismissible fade show mx-2 mt-3" id="indexMsg">
                  <%= msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/static/js/my_app.js"></script>
  </body>
</html>
